@model Notes_MarketPlace.Models.ManageSystem
@{
    ViewBag.Title = "ManageConfig";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<section id="margin-nav"></section>
<section id="system-section">
    <div id="content-box">
        <div class="container">
            <div class="main-heading">
                <h2>Manage System Configuration</h2>
                @if (ViewBag.ErrorStatus)
                {
                    <p class="error-message2" style="margin-bottom:20px"><i class="fa fa-exclamation-triangle"></i>@ViewBag.ErrorMessage </p>
                }

                @if (ViewBag.SucessStatus)
                {
                    <p class="success-message" style="margin-bottom:20px"><i class="fa fa-check-circle"></i>@ViewBag.SucessMessage</p>
                }
            </div>
            <div class="system-form">
                <form action="/Admin/ManageConfig" method="post" enctype="multipart/form-data">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SupportEmail)
                                        @Html.EditorFor(model => model.SupportEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Support emails address" } })
                                        @Html.ValidationMessageFor(model => model.SupportEmail, "", new { @class = "error-message" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.SupportContactNumber)
                                        @Html.EditorFor(model => model.SupportContactNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter phone number" } })
                                        @Html.ValidationMessageFor(model => model.SupportContactNumber, "", new { @class = "error-message" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="email">
                                            Email Address(es) *
                                            <br />
                                            (for various events system will send notifications to
                                            there users)
                                        </label>
                                        @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter email address" } })
                                        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "error-message" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.FacebookLink)
                                        @Html.EditorFor(model => model.FacebookLink, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter facebook url" } })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.TwitterLink)
                                        @Html.EditorFor(model => model.TwitterLink, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter twitter url" } })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.LinkedlnLink)
                                        @Html.EditorFor(model => model.LinkedlnLink, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter linkedin url" } })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="picture">
                                        Default image for notes <br />(if seller do not
                                        upload)
                                    </label>
                                    <div class="picture-box">
                                        <label class="att-each">
                                            <input type="file" id="file_value" name="ImageUrl" accept="image/*"/>
                                        </label>
                                    </div>
                                    <div class="inner-box">
                                        <label id="upload_picture">Upload a picture</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="picture">
                                        Default profile picture <br />(if seller do not
                                        upload)
                                    </label>
                                    <div class="picture-box">
                                        <label class="att-each">
                                            <input type="file" id="file_value2" name="ProfileUrl" accept="image/*"/>
                                        </label>
                                    </div>
                                    <div class="inner-box">
                                        <label id="upload_picture2">Upload a picture</label>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary" value="SUBMIT" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>