@model Notes_MarketPlace.Models.MemberProfile
@{
    ViewBag.Title = "User Profile";
    IEnumerable<Notes_MarketPlace.Models.Country> cu = ViewData["Country"] as IEnumerable<Notes_MarketPlace.Models.Country>;
    Layout = "~/Views/Shared/_MemberLayoutPage.cshtml";
}
<section id="user-profile">
    <img src="~/images/home/banner-with-overlay.jpg"
         id="use-profile-img"
         alt="Home Image" />
    <div id="user-profile-content">
        <div class="user-profile-inner">
            <h2>User Profile</h2>
        </div>
    </div>
</section>
<section id="user-form">
    <div id="content-box">
        <div class="container">
            <form action="/Profile/Index" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                <div class="user-profile-heading">
                    <h2>Basic Profile Details</h2>
                    @if (ViewBag.ErrorStatus)
                    {
                        <p class="error-message" style="margin-bottom:20px"><i class="fa fa-exclamation-triangle"></i>@ViewBag.ErrorMessage </p>
                    }

                    @if (ViewBag.SucessStatus)
                    {
                        <p class="success-message" style="margin-bottom:20px"><i class="fa fa-check-circle"></i>@ViewBag.SucessMessage</p>
                    }
                </div>
                <div class="user-input">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Member.FirstName)
                                @Html.EditorFor(model => model.Member.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your first name" } })
                                @Html.ValidationMessageFor(model => model.Member.FirstName, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Member.LastName)
                                @Html.EditorFor(model => model.Member.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your last name" } })
                                @Html.ValidationMessageFor(model => model.Member.LastName, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Member.Email)
                                @Html.EditorFor(model => model.Member.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your last name", @Readonly = true } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BirthDate)
                                @Html.EditorFor(model => model.BirthDate, new { htmlAttributes = new { @class = "dateclass placeholderclass form-control", placeholder = "Enter your date of birth", @onClick = "$(this).removeClass('placeholderclass')", type = "date" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="gender">Gender</label>
                                <select class="form-control" id="gender" name="Gender">
                                    @if (!String.IsNullOrEmpty(Html.ValueFor(model => model.Gender).ToString()))
                                    {
                                        string value1 = Html.ValueFor(model => model.Gender).ToString();
                                        if (value1 == "Male")
                                        {
                                            <option value="Male" selected>Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other">Other</option>
                                        }
                                        else if (value1 == "Female")
                                        {
                                            <option value="Male">Male</option>
                                            <option value="Female" selected>Female</option>
                                            <option value="Other">Other</option>
                                        }
                                        else if (value1 == "Other")
                                        {
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                            <option value="Other" selected>Other</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phonenumber">Phone Number*</label>
                                <div class="mobile-number">
                                    <div class="row">
                                        <div class="col-md-4 col-lg-3">
                                            <select class="form-control" id="country-number" name="CountryCode">
                                                @foreach (Notes_MarketPlace.Models.Country country1 in cu)
                                                {
                                                    if (!String.IsNullOrEmpty(Html.ValueFor(model => model.CountryCode).ToString()))
                                                    {
                                                        if (Convert.ToInt32(Html.ValueFor(model => model.CountryCode).ToString()) == country1.CountryCode)
                                                        {
                                                            <option value="+@country1.CountryCode" selected>+ @country1.CountryCode</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="+@country1.CountryCode">+ @country1.CountryCode</option>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="+@country1.CountryCode">+ @country1.CountryCode</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                        <div class="col-md-8 col-lg-9">
                                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your phone number", Type = "Number" } })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "error-message" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.ProfilePicture)
                            <div class="picture-box">
                                <label class="att-each"><input type="file" id="file_value" name="ImageUrl" accept="image/*"></label>
                            </div>
                            @if (Model.ProfilePicture != null)
                            {
                                <div class="inner-box">
                                    <label id="upload_picture">@Model.ProfilePicture</label>
                                </div>
                            }
                            else
                            {
                                <div class="inner-box">
                                    <label id="upload_picture">Upload a picture</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="user-profile-heading margin-top">
                    <h2>Address Details</h2>
                </div>
                <div class="user-input">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AddressLine1)
                                @Html.EditorFor(model => model.AddressLine1, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your address" } })
                                @Html.ValidationMessageFor(model => model.AddressLine1, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AddressLine2)
                                @Html.EditorFor(model => model.AddressLine2, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your address" } })
                                @Html.ValidationMessageFor(model => model.AddressLine2, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.City)
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your city" } })
                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.State)
                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your state" } })
                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Zipcode)
                                @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your zipcode", Type = "Number" } })
                                @Html.ValidationMessageFor(model => model.Zipcode, "", new { @class = "error-message" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="country">Country*</label>
                                <select class="form-control" id="country" name="Country">
                                    @foreach (Notes_MarketPlace.Models.Country country1 in cu)
                                    {
                                        if (Html.ValueFor(model => model.Country).ToString() != null)
                                        {
                                            if (Html.ValueFor(model => model.Country).ToString() == country1.CountryName)
                                            {
                                                <option value="@country1.CountryName" selected>@country1.CountryName</option>
                                            }
                                            else
                                            {
                                                <option value="@country1.CountryName">@country1.CountryName</option>
                                            }
                                        }
                                        else
                                        {
                                            <option value="@country1.CountryName">@country1.CountryName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-profile-heading margin-top">
                    <h2>University and College Information</h2>
                </div>
                <div class="user-input">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.University)
                                @Html.EditorFor(model => model.University, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your university" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.College)
                                @Html.EditorFor(model => model.College, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your college" } })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="marging-top">
                                <input type="submit" class="btn btn-primary " value="SUBMIT" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
