@model IPagedList<Notes_MarketPlace.Models.Buyer>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "My Download";
    Layout = "~/Views/Shared/_MemberLayoutPage.cshtml";
    int total = ViewBag.Viewpage;
    int number = Convert.ToInt32(Request.QueryString["i"]);
    if (number == 0)
    {
        number = 1;
    }
    int count = total * number;
    int sub;

    string Base64EncodingMethod(string Data)
    {
        byte[] toEncodeAsBytes = System.Text.Encoding.UTF32.GetBytes(Data);
        string sReturnValues = System.Convert.ToBase64String(toEncodeAsBytes);
        return sReturnValues;
    }
}
<section id="margin-nav"></section>
<section id="my_download">
    <div id="content-box">
        <div class="container">
            <div class="progress-heading my_download_heading">
                <div class="row">
                    <div class="col-md-4 col-12">
                        <h5>My Download</h5>
                    </div>
                    <div class="col-md-8 col-12">
                        <div class="progess-search float-right">
                            <form action="/Profile/MyDownload" method="get" class="form-inline ml-auto">
                                <div class="form-group ">
                                    <input type="text"
                                           class="form-control"
                                           placeholder=" &#xF002; &nbsp;&nbsp;Search"
                                           id="search"
                                           name="search"
                                           style="font-family: Open Sans,FontAwesome" />
                                    <input type="submit" class="btn btn-primary " value="SEARCH" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-download-table table-responsive-lg">
            <table class="table">
                <thead>
                    <tr>
                        <td>Sr No.</td>
                        <td style="width:200px;">@Html.ActionLink("Note Title", "MyDownload", new { sortBy = ViewBag.SortTitle, search = Request.QueryString["search"], i = Request.QueryString["i"] })</td>
                        <td>@Html.ActionLink("Category", "MyDownload", new { sortBy = ViewBag.SortCategory, search = Request.QueryString["search"], i = Request.QueryString["i"] })</td>
                        <td>@Html.ActionLink("Seller", "MyDownload", new { sortBy = ViewBag.SortEmail, search = Request.QueryString["search"], i = Request.QueryString["i"] })</td>
                        <td>@Html.ActionLink("Sell Type", "MyDownload", new { sortBy = ViewBag.SortType, search = Request.QueryString["search"], i = Request.QueryString["i"] })</td>
                        <td>@Html.ActionLink("Price", "MyDownload", new { sortBy = ViewBag.SortPrice, search = Request.QueryString["search"], i = Request.QueryString["i"] })</td>
                        <td>Download Date/Time</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var buyes in Model)
                    {
                        {
                            sub = count - total + 1;
                        }
                        <tr>
                            <td>@sub</td>
                            <td>@buyes.NoteTitle</td>
                            <td>@buyes.NoteCategory</td>
                            <td>@buyes.Member.Email</td>
                            <td>@buyes.Note.SellType</td>
                            <td>$@buyes.Price</td>
                            <td>@buyes.ApprovedDate.Value.ToString("dd MMM yyyy H:m:ss")</td>
                            <td>
                                <div class="icons">
                                    <img src="~/images/Dashboard/eye.png" class="img-fluid" id="imgview" style="cursor:pointer" onclick="window.open('/Notes/Notedetails?note=@Base64EncodingMethod(buyes.NoteId.ToString())');" />
                                    <div class="dropdown dropleftt" style="padding-left:10px">
                                        <button type="button" class="dropdown-toggle" data-toggle="dropdown">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" target="_blank" href="~/UploadFiles/Notes/@buyes.Note.OwnerId/@buyes.AttachmentPath">Download Note</a>
                                            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#reviewmodel_@buyes.Id" href="#">Add Reviews/Feedback</a>
                                            <a class="dropdown-item" role="button" data-toggle="modal" data-target="#report_@buyes.Id" href="#">Report as Inappropriate</a>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <div class="modal fade" id="reviewmodel_@buyes.Id">
                                <div class="modal-dialog review-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                            <div class="review-model">
                                                <div class="review-heading">
                                                    <h3>Add Review</h3>
                                                </div>
                                                <div class="review-content">
                                                    <form action="/Profile/Review" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="rate">
                                                                    <input type="radio" id="@sub-star5" name="rate2" value="5" />
                                                                    <label for="@sub-star5" title="text">5 stars</label>
                                                                    <input type="radio" id="@sub-star4" name="rate2" value="4" checked />
                                                                    <label for="@sub-star4" title="text">4 stars</label>
                                                                    <input type="radio" id="@sub-star3" name="rate2" value="3" />
                                                                    <label for="@sub-star3" title="text">3 stars</label>
                                                                    <input type="radio" id="@sub-star2" name="rate2" value="2" />
                                                                    <label for="@sub-star2" title="text">2 stars</label>
                                                                    <input type="radio" id="@sub-star1" name="rate2" value="1" />
                                                                    <label for="@sub-star1" title="text">1 star</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="page">Comments*</label>
                                                                    <input type="hidden" name="Id" value="@buyes.Id" />
                                                                    <textarea class="form-control" name="comment" placeholder="Comments..." id="comments" required></textarea>
                                                                </div>
                                                                <div class="marging-top">
                                                                    <input type="submit" class="btn btn-primary " value="SUBMIT" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="report_@buyes.Id">
                                <div class="modal-dialog review-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal">
                                                &times;
                                            </button>
                                            <div class="review-model">
                                                <div class="review-heading">
                                                    <h3>Inappropriate</h3>
                                                </div>
                                                <div class="review-content">
                                                    <form action="/Profile/Report" method="post">
                                                        @Html.AntiForgeryToken()
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="page">Note Title</label>
                                                                    <input type="text" class="form-control" value="@buyes.NoteTitle" readonly />
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label for="page">Remarks*</label>
                                                                    <input type="hidden" name="Id" value="@buyes.Id" />
                                                                    <textarea class="form-control" placeholder="Remarks....." id="comments" name="remarks" required></textarea>
                                                                </div>
                                                                <div class="marging-top">
                                                                    <input type="submit" class="btn btn-primary " value="SUBMIT" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        {
                            total = total - 1;
                        }

                    }
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="8" align="center">No Record Found</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    </div>
    </div>
    <section id="pagination">
        @Html.PagedListPager(Model, i => Url.Action("MyDownload", "Profile", new { i, search = Request.QueryString["search"], sortBy = Request.QueryString["sortBy"] }), new PagedList.Mvc.PagedListRenderOptions
        {
            ContainerDivClasses = null,
            LiElementClasses = new string[] { "page-item1" },
            UlElementClasses = new string[] { "pagination justify-content-center" },
            LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
            LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
            MaximumPageNumbersToDisplay = 5,
            DisplayEllipsesWhenNotShowingAllPageNumbers = false,
            DisplayLinkToFirstPage = PagedListDisplayMode.Never,
            DisplayLinkToLastPage = PagedListDisplayMode.Never
        })
    </section>
</section>