@model Notes_MarketPlace.Models.Note
@{
    ViewBag.Title = "Note Details";
    Layout = "~/Views/Shared/_MemberLayoutPage.cshtml";
    IEnumerable<Notes_MarketPlace.Models.Review> re = ViewData["Review"] as IEnumerable<Notes_MarketPlace.Models.Review>;
    int count = 2;
}
<section id="margin-nav"></section>
<section id="note_details">
    <div id="content-box">
        <div class="container">
            <div class="notes-heading">
                <h4>Notes Details</h4>
            </div>
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="notes-details-1">
                        <div class="row">
                            <div class="col-xl-5 col-lg-5 col-sm-4 col-12">
                                <div class="note-image">
                                    @if (Model.DisplayPicture == null)
                                    {
                                        <img src="~/UploadFiles/Notes/@ViewBag.Photo" alt="Image" />
                                    }
                                    else
                                    {
                                        <img src="~/UploadFiles/Notes/@Model.OwnerId/@Model.DisplayPicture" alt="Image" />
                                    }
                                    
                                </div>
                            </div>
                            <div class="col-xl-7 col-lg-7 col-sm-8 col-12">
                                <div class="note-names">
                                    <h3>@Model.NoteTitle</h3>
                                    <p>@Model.Category</p>
                                    <p>@Model.Description</p>
                                    @if (ViewBag.CheckOwner)
                                    {
                                        if (ViewBag.CheckApproved)
                                        {
                                            <button class="btn btn-primary" id="myBtn1">DOWNLOAD</button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-primary" onclick="window.open('/UploadFiles/Notes/@Model.OwnerId/@Model.UploadNotes', '_blank');">DOWNLOAD</button>
                                        }

                                    }
                                    else
                                    {
                                        <button class="btn btn-primary" data-toggle="modal" id="myBtn">Buy $@Model.SellPrice</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="notes-details-2">
                        <div class="row">
                            <div class="col-lg-1 "></div>
                            <div class="col-lg-5 col-sm-6 col-5">
                                <div class="note-headings">
                                    <p id="institution">Institution:</p>
                                    <p>Country:</p>
                                    <p id="course">Course Name:</p>
                                    <p>Course Code:</p>
                                    <p id="professor">Professor:</p>
                                    <p>Number of Pages:</p>
                                    <p>Approved Date:</p>
                                    <p>Rating:</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-7">
                                <div class="note-headings-details">
                                    @if (Model.InstitutionName != null)
                                    {
                                        <p id="institutionvalue">@Model.InstitutionName</p>
                                    }
                                    else
                                    {
                                        <p id="institutionvalue">---</p>
                                    }

                                    @if (Model.Country != null)
                                    {
                                        <p>@Model.Country</p>
                                    }
                                    else
                                    {
                                        <p>---</p>
                                    }

                                    @if (Model.CourseName != null)
                                    {
                                        <p id="coursevalue">@Model.CourseName</p>
                                    }
                                    else
                                    {
                                        <p id="coursevalue">---</p>
                                    }

                                    @if (Model.CourseCode != null)
                                    {
                                        <p>@Model.CourseCode</p>
                                    }
                                    else
                                    {
                                        <p>---</p>
                                    }

                                    @if (Model.Professor != null)
                                    {
                                        <p id="professorvalue">@Model.Professor</p>
                                    }
                                    else
                                    {
                                        <p id="professorvalue">---</p>
                                    }

                                    @if (Model.TotalPages != null)
                                    {
                                        <p>@Model.TotalPages</p>
                                    }
                                    else
                                    {
                                        <p>---</p>
                                    }

                                    @if (Model.ApprovedDate != null)
                                    {
                                        <p>@Model.ApprovedDate.Value.ToString("MMMM dd yyyy")</p>
                                    }
                                    else
                                    {
                                        <p>---</p>
                                    }
                                    <div class="rate" id="getrate">
                                        <input type="radio" id="star5" name="rate" value="5" />
                                        <label for="star5" title="text" style="pointer-events: none;">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" />
                                        <label for="star4" title="text" style="pointer-events: none;">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="text" style="pointer-events: none;">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" checked />
                                        <label for="star2" title="text" style="pointer-events: none;">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text" style="pointer-events: none;">1 star</label>
                                    </div>
                                    <p>@ViewBag.reviewcount Reviews</p>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-11">
                                <div class="red-paragraph">
                                    <p>5 Users marked this note as inappropriate</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                            <div class="content-model">
                                <div class="model-img text-center">
                                    <img src="~/images/notesdetails/SUCCESS.png"
                                         class="img-fluid" />
                                </div>
                                <div class="model-heading">
                                    <h3>Thank you for purchasing!</h3>
                                </div>
                                <div class="model-content">
                                    <h5>Dear @ViewBag.FirstName,</h5>
                                    <p>As this is paid notes-you need to pay seller Rahil Shah offline.We will send him an email that you want to download this note.He may contact you further for payment process completion</p>
                                    <p>In case, you have urgency,</br>Please Contact us on +9195377345959</p>
                                    <p>Once he receives the payment and acknowledge us - selected notes you can see over my downloads tab for download.</p>
                                    <p>Have a good day.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="notes-preview">
    <div class="container">
        <div class="row">
            @if (ViewBag.reviewcount == 0)
            {
                <div class="col-12">
                    <div class="notes-heading">
                        <h4>Notes Preview</h4>
                    </div>
                    <div class="notes-previews">
                        <iframe src="~/UploadFiles/Notes/@Model.OwnerId/@Model.NotePreview" class="responsive-iframe" title="description"><p>Your web browser doesn't have a PDF plugin.Instead you can <a href="~/UploadFiles/Notes/@Model.OwnerId/@Model.NotePreview">click here to download the PDF file.</a></p></iframe>
                    </div>
                </div>
            }
            else
            {
                <div class="col-lg-5 col-12">
                    <div class="notes-heading">
                        <h4>Notes Preview</h4>
                    </div>
                    <div class="notes-previews">
                        <iframe src="~/UploadFiles/Notes/@Model.OwnerId/@Model.NotePreview" class="responsive-iframe" title="description"><p>Your web browser doesn't have a PDF plugin.Instead you can <a href="~/UploadFiles/Notes/@Model.OwnerId/@Model.NotePreview">click here to download the PDF file.</a></p></iframe>
                    </div>
                </div>
                <div class="col-lg-7 col-12">
                    <div class="notes-heading">
                        <h4>Customer Reviews</h4>
                    </div>
                    <div class="customer-reviews">
                        @foreach (Notes_MarketPlace.Models.Review reviews in re)
                        {
                            <div class="customers">
                                <div class="row">
                                    <div class="col-lg-2 col-2">
                                        <img class="image-fluid rounded-circle" src="~/UploadFiles/MemberProfile/@reviews.ProfilePhoto" alt="Image" />
                                    </div>
                                    <div class="col-lg-10 col-10">
                                        <div class="names">
                                            <h5>@reviews.Member1.FirstName @reviews.Member1.LastName</h5>
                                            <div class="rate">
                                                <input type="radio" id="@count star5" name="rate @count" value="5" />
                                                <label for="@count star5" title="text">5 stars</label>
                                                <input type="radio" id="@count star4" name="rate @count" value="4" />
                                                <label for="@count star4" title="text">4 stars</label>
                                                <input type="radio" id="@count star3" name="rate @count" value="3" />
                                                <label for="@count star3" title="text">3 stars</label>
                                                <input type="radio" id="@count star2" name="rate @count" value="2" />
                                                <label for="@count star2" title="text">2 stars</label>
                                                <input type="radio" id="@count star1" name="rate @count" value="1" />
                                                <label for="@count star1" title="text">1 star</label>
                                                <script>
                                                    var value1 =@reviews.Rate;
                                                    if (value1 == 0)
                                                        value1 = 5;
                                                    for (var i = 1; i <= 5; i++) {
                                                        var input = document.getElementById(@count +" star" + i).value;

                                                        if (value1 == input) {
                                                            console.log(input);
                                                            document.getElementById(@count +" star" + i).checked = true;
                                                        }
                                                    }
                                                </script>
                                            </div>
                                            <br>
                                            <p>@reviews.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            if (count != re.Count()+1)
                            {
                                <hr>
                            }

                            {
                                count = count + 1;
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<script>
    var value1 =@ViewBag.reviewcount;
    if (value1 == 0)
        value1 = 5;
    for (var i = 1; i <= 5; i++) {
        var input = document.getElementById("star" + i).value;
        if (value1 == input) {
            document.getElementById("star" + i).checked = true;
        }
    }
</script>

        @if (ViewBag.CheckOwner)
        {
            <script>
                $(document).ready(function () {
                    $("#myBtn1").attr("style","cursor:not-allowed")
                });
            </script>
        }
        else
        {

            <script>
                $(document).ready(function () {
                    $("#myBtn").click(function () {
                        $("#myModal").modal();
                    });
                    $("#myModal").on('hidden.bs.modal', function () {
                        var Id=@Model.NoteId;
                        window.location.href = "/Notes/AddDetails?noteid="+Id;
                    });
                });
            </script>
        }
