<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
          rel="stylesheet" />
    @Styles.Render("~/User/css")
    @Styles.Render("~/fonts/css")
    @Scripts.Render("~/Scripts")
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <nav class="navbar white-nav-top navbar-expand-lg fixed-top" id="checknax">
            <div class="container container-relative">
                <span id="mobile-nav-open-btn">&#9776;</span>
                <a href="/Home" class="navbar-brand">
                    <img src="~/images/login/logo.png" alt="logo" id="user_logo" />
                </a>
                <div class="container add-list">
                    <div class="collapse navbar-collapse">
                        <ul class="nav ml-auto">
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "Search")
                                {
                                    @Html.ActionLink("Search Notes", "Search", "Home", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("Search Notes", "Search", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "Dashboard")
                                {
                                    @Html.ActionLink("Sell Your Notes", "Index", "Notes", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("Sell Your Notes", "Index", "Notes", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "FAQ")
                                {
                                    @Html.ActionLink("FAQ", "FAQ", "Home", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("FAQ", "FAQ", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "Contact")
                                {
                                    @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Index", "Auth", null, new { @class = "nav-link btn-login", @role = "button" })
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="mobile-nav">
                    <span id="mobile-nav-close-btn">&times;</span>
                    <div id="mobile-nav-content">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "Search")
                                        {
                                            @Html.ActionLink("Search Notes", "Search", "Home", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("Search Notes", "Search", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "Dashboard")
                                {
                                    @Html.ActionLink("Sell Your Notes", "Index", "Notes", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("Sell Your Notes", "Index", "Notes", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "FAQ")
                                {
                                    @Html.ActionLink("FAQ", "FAQ", "Home", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("FAQ", "FAQ", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @if (ViewBag.NavTitle == "Contact")
                                {
                                    @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link checked" })
                                }
                                else
                                {
                                    @Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "nav-link" })
                                }
                            </li>
                            <li class="nav-item">
                                @Html.ActionLink("Login", "Index", "Auth", null, new { @class = "nav-link btn-login", @role = "button" })
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

    <section class="footer">
        <hr />
        <div class="home-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-8 col-6">
                        <div class="footer-text">
                            <p>Copyright &copy; Tatvasoft All rights reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-4 col-6">
                        <ul class="social-list">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/Scripts")
    @Scripts.Render("~/Scripts/User")
    @Scripts.Render("~/HomeScript")
    @Scripts.Render("~/bundles/jqueryval")

    @if (ViewBag.NavTitle == "Home")
    {
        @:<script>
            @:$(document).ready(function () {
               @: showHideNav();
               @: $(window).scroll(function () {
               @:     showHideNav();
               @: });

               @: function showHideNav() {
               @:   if ($(window).scrollTop() > 55) {
               @:        $("nav").addClass("white-nav-top");
               @:        $(".navbar-brand img").attr("src", "../../images/login/logo.png");
               @:   } else {
               @:        $("nav").removeClass("white-nav-top");
               @:        $(".navbar-brand img").attr("src", "../../images/login/top-logo.png");
               @:   }
              @:  }
           @: });
           @: </script>
    }
</body>
</html>
