@model Notes_MarketPlace.Models.Member
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AuthLayoutPage.cshtml";
}

<section id="home">
    <div class="container" id="container-box">
        <div class="row">
            <div class="col-md-12" align="center">
                <img src="~/images/login/top-logo.png" alt="Top Photo" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 form-box">
                <h3>Change Password</h3>
                <p>Enter your new password to change your password</p>
                @if (ViewBag.ErrorStatus)
                {
                    <p class="error-message"><i class="fa fa-exclamation-triangle"></i>@ViewBag.ErrorMessage </p>
                }
                <form action="/Auth/ChangePassword" method="post" class="needs-validation" novalidate>
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="pwd">Old Password</label>
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @id = "password-field1", @class = "form-control", placeholder = "Enter your old password", Required = "true", type = "password" } })
                        <span toggle="#password-field1"
                              class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        <div class="invalid-feedback">
                            The password that you've entered is incorrect.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="margin-label">New Password</label>
                        @Html.EditorFor(model => model.NPassword, new { htmlAttributes = new { @id = "password-field2", @class = "form-control", placeholder = "Enter your new password", Required = "true", type = "password" } })
                        <span toggle="#password-field2"
                              class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        @Html.ValidationMessageFor(model => model.NPassword, "", new { @class = "error-message" })
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="margin-label">Confirm Password</label>
                        @Html.EditorFor(model => model.CPassword, new { htmlAttributes = new { @id = "password-field3", @class = "form-control", placeholder = "Enter your confirm password", Required = "true", type = "password" } })
                        <span toggle="#password-field3"
                              class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        @Html.ValidationMessageFor(model => model.CPassword, "", new { @class = "error-message" })
                    </div>
                    <input type="submit"
                           class="btn-submit margin-label"
                           value="SUBMIT" />
                </form>
            </div>
        </div>
    </div>
</section>
